/* 
The CSS library is designed for general application across the website and is not dependent on the activation of any specific plugin.
Its separation from the main CSS script is to facilitate easier debugging.
Users are encouraged to integrate this library with care to ensure compatibility with their site's existing styles and features.
*/

/* traceModifer Css */
.traceModifer .fluid {
    background: #ff8282;
    background: linear-gradient(-90deg, #ff8282 0%, #ffff82 25%, #82ff82 50%, #82ffff 75%, #8282ff 100%) !important;
}

/* timelinetable */
#timelinetable td {
    padding: 0 !important;
    font-weight: bold !important;
}

#timelinetable a {
    box-shadow: none;
    text-decoration: none;
}

#timelinetable td:has(a):hover {
    background: rgba(0, 0, 0, 0.1) !important
}

[id $="--iflowPropLayout"] textarea:not([id^='Description']) {
    min-height: 10vh;
    resize: vertical;
    max-height: 70vh;
}

/* improve labels spacing in plugin stetings */ 
.ui[class*="pointing below"].label {
    margin-top: 20px;
}
.inputbox-spacing {
    margin: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
}