:root {
    /* colors */
    --cpi-brand-color: #21436a;
    --cpi-background: #fff;
    --cpi-dark-green: #080;
    --cpi-dark-red: #800;
    --cpi-teal: #007f7f;
    --cpi-hover: #ff5722;
    /* Fonts */
    --cpi-font: 'Arial';

}

/* overwrite color classes */
.dgreen {
    background: var(--cpi-dark-green) !important;
    color: var(--cpi-background) !important;
    ;
}

.dred {
    background-color: var(--cpi-dark-red) !important;
    color: var(--cpi-background) !important;
    ;
}

/* general css */
body {
    margin: 0px;
    width: 800px;
    font-family: var(--cpi-font), sans-serif;
}

/* unvisted link */
a:link {
    color: var(--cpi-dark-green);
}

a:visited {
    color: var(--cpi-teal);
}

a {
    text-decoration: none;
}

/* mouse hover*/
a[href].item:hover,
.button:hover {
    color: var(--cpi-hover) !important;
    background-color: var(--cpi-brand-color) !important;
}

/* header */
#cpiHelper_contentheader {
    padding: .5rem;
    z-index: 10;
    background-color: var(--cpi-brand-color);
}

#cpiHelper_contentheader>* {
    color: var(--cpi-background);
    font-weight: bold;
}

/* margin class 0 */
.m0 {
    margin: 0 !important;
}

#tenantSettings>div {
    margin: .5rem;
}

/* max height for tab 2 */
.tab[data-tab=two] {
    height: 600px;
    overflow-y: scroll;
}

/* color input box */
input[type="color"] {
    height: auto !important;
}