:root {
    /* Colors */
    --cpi-background: #fff;
    --cpi-custom-color: #354a5f;
    /* Fonts */
    --cpi-font: "Poppins";
}

nav {
    padding: 0.5em 5% !important;
}

html,
body {
    font-family: var(--cpi-font), sans-serif;
}

section img:not(.card-image) {
    width: 100%;
    padding: 2%;
}

section {
    word-wrap: break-word;
}

.hide {
    display: none;
}

/* home */
#carouselhome img {
    filter: brightness(0.5) !important;
}

#carouselhome {
    width: 80%;
    margin-inline: auto;
}

/* table */
table {
    border-radius: 0.1em;
}

thead {
    background-color: var(--cpi-custom-color);
    color: var(--cpi-background);
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

table {
    overflow-x: auto;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
}

pre[class*="language-"] {
    background-color: transparent !important;
}

a {
    color: var(--bs-indigo);
    text-decoration: none;
    cursor: pointer;
}

a:has(i) {
    color: white;
    border-bottom: none;
}

nav a.active {
    color: var(--bs-primary) !important;
}

section a:hover {
    color: var(--cpi-custom-color);
    border-bottom: 2px solid var(--bs-indigo);
}

a:has(i, img):hover {
    border-bottom: none;
}

#navbarSupportedContent {
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

.bg-featured-blog {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 15rem;
}

.stats span {
    font-size: 29px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    background: radial-gradient(circle,
            rgba(255, 255, 255, 1) 20%,
            rgba(255, 255, 255, 0.8) 100%);
    z-index: 9999;
    display: flex;
}

#loader svg,
nav .logo>svg {
    width: var(--svg-size);
    height: var(--svg-size);
    background: #fff;
    border-radius: 50%;
}

#loader svg {
    --svg-size: 240px;
    fill: none;
    stroke: #21436a;
    stroke-linecap: round;
    stroke-width: 20px;
    width: 200px;
}

@keyframes svganimationstroke {

    90%,
    to {
        stroke-dashoffset: 0;
        fill: #21436a;
        stroke: none;
    }
}

nav .logo>svg {
    --svg-size: 24px;
}

#loader .fw-semibold {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

@media (max-width: 800px) {
    #carouselhome {
        width: 100%;
        margin-inline: auto;
    }
}

@media (max-width: 576px) {
    table {
        display: block;
        width: 100%;
    }
}