# Name: Create Release from Manifest
# Developer: incpi
# Description:
# Automation: The workflow automates file generation, commits changes, and creates a GitHub release from manifest.json.
# Trigger: It triggers on pushes to the main branch, running a script to generate and commit files.
# -----------------------------------------If above fails below will not execute ---------------------------------------------
# Release: It extracts the version, finds ZIP files in the bin directory, and attaches them to the release, streamlining the process.
#__________________________________________________________________________________________________________________________

name: Create Release from Manifest

on:
  push:
    branches:
      - dev # Change this to your default branch

jobs:
  generate_and_commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      # Generate files with the shell script
      - name: Run Shell Script and Commit Generated Files
        run: |
          # Make the shell script executable and run it
          chmod +x ./zipFiles.sh
          ./zipFiles.sh

      - name: Commit and push changes if there are any
        run: |
          if git diff --quiet; then
            echo "No changes to commit."
          else
            git add bin/
            git commit -m "Add new release files generated by zipFiles.sh"
            git push
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Prevent re-triggering the Workflow
        if: contains(github.event.head_commit.message, 'Add new files generated by zipFiles.sh')
        run: echo "Skipping because this is the automated commit message from our script."
