:root {
    /* colors */
    --cpi-brand-color: #ffffff;
    --cpi-background: #fff;
    --cpi-custom-color: #ffffff;
    --cpi-dark-green: #008000;
    --cpi-green: #c7ffce;
    --cpi-grey: #e3e3e3;
    --cpi-blue: #c7c7ff;
    --cpi-red: #ffc7c7;
    --cpi-color: #000;
    --cpi-hover: #ff5722;
    /* Fonts */
    --cpi-font: 'Arial';
}

/* general css */
html {
    width: 800px;
    height:auto
}

body {
    margin: 0px;
    font-family: var(--cpi-font), sans-serif;
}

a {
    text-decoration: none;
}

/* mouse hover*/
a[href].item:hover,
.button:hover {
    color: var(--cpi-hover) !important;
    background-color: var(--cpi-brand-color) !important;
}

/* header */
#cpiHelper_contentheader {
    padding: .5rem;
    z-index: 10;
    background-color: var(--cpi-custom-color);
}

#cpiHelper_contentheader>* {
    color: #000;
    font-weight: bold;
}

/* section link left tab-1 */
#lastVisitedIflows a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ui.menu {
    overflow: hidden !important;
}

.ui.label {
    font-size: 1rem;
}

/* margin class 0 */
.m0 {
    margin: 0 !important;
}

#tenantSettings>div>div:not([class]) {
    margin-block: .5rem;
}

#tenantSettings table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#tenantSettings tr:nth-child(2):has(td) {
    border-block: 2px solid var(--cpi-grey);
}

.hidden {
    display: none
}

a>p {
    padding-inline-end: .5rem;
    margin: 0;
}

/* max height for tab 2 */
.tab[data-tab=two] {
    height: 600px;
}

.tab {
    overflow-y: scroll;
    max-height: 600px;
}

/* color input box */
input[type="color"] {
    height: auto !important;
}

/* overwrite color classes --Note-- always at bottom section*/
.l-green {
    --_cpi-dclass: var(--cpi-green);
}

.l-black {
    --_cpi-dclass: var(--cpi-grey);
}

.l-red {
    --_cpi-dclass: var(--cpi-red);
}

.l-blue {
    --_cpi-dclass: var(--cpi-blue);
}

.l-blue,
.l-red,
.l-black,
.l-green {
    color: var(--cpi-color) !important;
    border: .25em solid var(--_cpi-dclass) !important;
    background-color: var(--_cpi-dclass) !important
}

.l-blue:hover,
.l-red:hover,
.l-black:hover,
.l-green:hover {
    color: var(--_cpi-dclass) !important;
    border: .25em solid var(--_cpi-dclass) !important;
}

.preset>button.ui.button {
    margin-block: 0 !important;
}